@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body,
#app,
#app > div {
  height: 100%;
  overscroll-behavior-y: contain;
}

.h-100,
#root {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
