.eqrow {
  border-color: transparent;
  border-style: solid;
}

.eqitem {
  padding-left: 3px;
  padding-right: 3px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.removable:hover {
  border-color: red;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: red;
  cursor: pointer;
}
